.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    min-width: 350px;
    font-size: 1rem;
}

.Form button {
    margin: 2px;
    background: inherit;
    color: #3b5998;
    border: 1px solid;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.Form button:hover {
    color: #fff;
    background: #3b5998;
}